:root {
  --background-color: 255, 255, 255;
  --background-secondary-color: 233, 235, 238;
  --text-on-background-color: 0, 0, 0;
  --border-color: 221, 221, 221;

  --password-text-color: 14, 163, 246;
  --highlight-text-color: 244, 226, 161;
  --placeholder-text-color: 153, 153, 153;
  --entry-cost-text-color: 119, 119, 119;
  --table-header-background-color: 241, 241, 241;
  --table-header-text-on-background-color: 0, 0, 0;
}

html {
  @apply text-on-background bg-secondary-background;

  &.htw-dark,
  &.mode-dark,
  &.dark {
    --background-color: 57, 48, 83;
    --background-secondary-color: 68, 60, 104;
    --text-on-background-color: 205, 196, 233;
    --border-color: 109, 96, 148;
    --highlight-text-color: 134, 124, 89;
    --password-text-color: 14, 163, 246;
    --placeholder-text-color: 204, 204, 204;
    --entry-cost-text-color: 204, 204, 204;
    --table-header-text-on-background-color: 205, 196, 233;
    --table-header-background-color: 57, 48, 83;
  }
}
